{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<form method="POST" class="form-signin">
    <img class="mb-4" src="{{ url_for('static', filename='img/logoITR.png') }}" alt="" width="100" height="60">
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% endwith %}

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    {{ form.hidden_tag() }}
    
    <div class="form-floating">
        {{ form.username.label }}<br>
        {{ form.username(class="form-control", placeholder="Username") }}<br>
        {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    
    <div class="form-floating">
        {{ form.password.label(class="form-label") }}<br>
        {{ form.password(class="form-control", placeholder="Password") }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>

    {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
</form>
{% endblock %}